:root {
--primaryColor: #0073B5;
--primaryLightColor: #56A1E8;
--primaryDarkColor: #004885;
--secondaryColor: #FFFFFF;
--secondaryLightColor: #FFFFFF;
--secondaryDarkColor: #CCCCCC;
--primaryTextColor: #FFFFFF;
--secondaryTextColor: #000000;

--PRIMARY-900: #005393;
--PRIMARY-800: #0073B5;
--PRIMARY-700: #0084C9;
--PRIMARY-600: #0296DD;
--PRIMARY-500: #04A4EB;
--PRIMARY-400: #29B1EE;
--PRIMARY-300: #4EBFF1;
--PRIMARY-200: #80D1F5;
--PRIMARY-100: #B2E3F9;
--PRIMARY-50: #E1F4FD;

--SECONDARY-900: #3C3C3C;
--SECONDARY-800: #606060;
--SECONDARY-700: #818181;
--SECONDARY-600: #979797;
--SECONDARY-500: #C2C2C2;
--SECONDARY-400: #DEDEDE;
--SECONDARY-300: #F0F0F0;
--SECONDARY-200: #F5F5F5;
--SECONDARY-100: #FAFAFA;
--SECONDARY-50: #FFFFFF;
}