:root {
    --PRIMARY: hsl(202, 100%, 35%);
    --PRIMARY-DARK: hsl(202, 100%, 25%);
    --PRIMARY-LIGTH: hsl(202, 100%, 50%);
    --PRIMARY-ALT: hsl(209, 100%, 80%);
    --PRIMARY-HIGHLIGTH: hsl(202, 100%, 90%);
    --SWORDFISH-DARK: hsl(207.7, 64%, 24%);
    --GREY: hsl(0, 0%, 50%);
    --GREY-DARK: hsl(0, 0%, 30%);
    --GREY-LIGHT: hsl(0, 0%, 70%);
    --WHITE: hsl(0, 100%, 100%);
    --BLACK: hsl(0, 0%, 0%);
    --PRIMARY-600: #0296DD;
    --SECONDARY-700: #818181;
    --SECONDARY-600: #979797;
    --SECONDARY-500: #C2C2C2;
    --SECONDARY-400: #DEDEDE;
    --SECONDARY-200: #F5F5F5;
    --SECONDARY-50: #FFFFFF;
}