@import "./colors.css";
* {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	background: var (--secondaryColor);
	color: var(--secondaryTextColor)
}

.bg {
	background: url(../images/background.jpg) no-repeat top left;
}

.titleBar {
	width: 100%;
	background: var(--primaryDarkColor);
	margin: 0px;
	padding: 2px 2px 2px 4px;
	white-space: nowrap;
	overflow-x: hidden;
}

.move {
	cursor: move !important;
}

header {
	background: var(--primaryColor);
	color: var(--primaryTextColor);
	padding: 0px;
	margin: 0px;
}

header a {
	background: var(--toolbar-text);
	color: var(--toolbar-background);
	fill: var(--toolbar-background);
	text-decoration: none;
	margin-top: 20px;
	padding-right: 5px;
}

header a:hover {
	text-decoration: underline;
	color: var(--toolbar-background);
	fill: var(--toolbar-background);
	background: var(--toolbar-text) !important;
}

footer {
	padding-top: 2px;
	vertical-align: bottom;
	text-align: center;
	background: var(--primaryColor);
	color: var(--primaryTextColor);
	font-size: 0.8em;
}

footer a {
	text-decoration: none;
}

footer a:hover {
	background: var(--primaryColor);
	text-decoration: underline;
}

.status {
	position: absolute;
	top: 200px;
	left: calc(40% - 100px);
	width: 200px;
	margin: auto;
	background-color: var(--primaryColor);
	color: var(--primaryTextColor);
	padding: 20px;
	border: 1px solid var(--primaryTextColor);
}

table {
	width: 100%;
	border-collapse: collapse;
}

a {
	color: var(--primaryColor);
	text-decoration: none;
}

thead {
	background: var(--primaryColor);
	color: var(--primaryTextColor);
}

tbody {
	overflow-y: scroll;
	overflow-x: scroll;
}

td {
	padding: 4px;
	vertical-align: top;
	font-size: medium;
}

td.fixed {
	text-align: center;
	vertical-align: middle;
	background: var(--lighter-background);
	color: var(--secondaryTextColor);
	cursor: default !important;
}

th {
	position: sticky;
	top: 0;
	z-index: 5;
	font-weight: lighter;
	background: var(--primaryColor);
	color: var(--primaryTextColor);
	white-space: nowrap;
}

.fixed {
	width: 1px;
	text-align: center;
}

.right {
	float: right;
}

.hidden {
	display: none;
}

.center {
	text-align: center;
}

input[type=text] {
	height: 1.2rem;
	font-size: 1rem;
	background: var(--secondaryColor);
	color: var(--secondaryTextColor);
	border: 1px solid var(--primaryColor);
	border-radius: 2px;
}

input[type=password] {
	height: 1.2rem;
	font-size: 1rem;
	background: var(--secondaryColor);
	color: var(--secondaryTextColor);
	border: 1px solid var(--primaryColor);
	border-radius: 2px;
}

input[type=number] {
	height: 1.2rem;
	font-size: 1rem;
	width: 40px;
	background: var(--secondaryColor);
	color: var(--secondaryTextColor);
	border: 1px solid var(--primaryColor);
	border-radius: 2px;
}

input[type=checkbox] {
	margin-top: 0.5em;
	background-color: var(--input-background);
	border: 1px solid var(--primaryColor);
}

button {
	color: var(--primaryTextColor);
	fill: var(--primaryTextColor);
	background: var(--primaryColor);
	border: 1px solid var(--primaryColor);
	border-radius: 2px;
	font-size: 1em;
	text-align: center;
	margin: 4px;
	padding: 4px 8px;
	white-space: nowrap;
}

button:focus {
	background: var(--primaryDarkColor);
	outline: none !important;
}

button:hover {
	background: var(--primaryDarkColor);
	border-color: (--primaryDarkColor);
}

.row {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 3px;
	padding-bottom: 0px;
}

select {
	height: 1.2rem;
	font-size: 1rem;
	background: var(--secondaryColor);
	color: var(--secondaryTextColor);
	border: 1px solid var(--primaryColor);
	border-radius: 2px;
}

option {
	font-size: 1em;
	background: var(--secondaryColor) !important;
	color: var(--secondaryTextColor);
}

label {
	padding-left: 4px;
	padding-right: 4px;
	white-space: nowrap;
}

.column {
	display: flex;
	flex-direction: column;
}

.fill_width {
	width: 100%;
}

.middle {
	vertical-align: middle;
}

.noWrap {
	white-space: nowrap;
}

.paddedArea {
	padding: 4px;
	margin: 4px;
}

.optionBox {
	border: 1px solid grey;
	border-radius: 4px;
}

.buttonArea {
	display: flex;
	flex-direction: row;
	padding: 8px;
	padding-left: 16px;
	padding-right: 16px;
	justify-content: flex-end;
}

.separator {
	width: 1px;
	margin-left: 1em;
	margin-right: 1em;
	border-left: 1px solid var(--toolbar-text);
}

.tabHolder {
	display: flex;
	flex-flow: row;
	color: var(--secondaryTextColor);
	background: var(--lighter-background);
	padding: 0px 0px 0px 8px;
}

.tab {
	overflow: hidden;
	color: var(--primaryColor);
	background: var(--primaryTextColor);
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 2px;
	border-bottom: 2px solid var(--primaryTextColor);
	vertical-align: middle;
}

.selectedTab {
	border-bottom: 2px solid var(--primaryColor);
}

.tab:hover {
	border-bottom: 2px solid var(--primaryDarkColor);
}

.selectedTab:hover {
	background: var(--normal-background);
	color: var(--primaryDarkColor);
}

.tab a {
	color: var(--primaryColor);
	text-decoration: none;
	cursor: pointer;
}

.tab a:hover {
	background: var(--normal-background);
	color: var(--primaryDarkColor);
}

.tabContent {
	display: block;
}

.hiddenTab {
	display: none;
}

.panel {
	z-index: 5;
	display: block;
	overflow-y: scroll;
}

.panelcontent {
	z-index: -20;
	display: block;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.panelcontent table {
	z-index: -30;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	background-color: var(--primaryDarkColor);
	border-color: var(--secondaryColor);
	color: var(--primaryTextColor);
	visibility: hidden;
	padding: 4px;
	border-radius: 2px;
	white-space: nowrap;
	/* Position the tooltip */
	position: absolute;
	z-index: 100;
}

.topTooltip {
	bottom: 120%;
	left: 20px;
}

.bottomTooltip {
	top: 120%;
	left: 20px;
}

.bottomRightTooltip {
	top: 120%;
	right: 20px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.highlight {
	color: var(--highlight-color);
}

.active {
	background: var(--highlight-color);
}

.dialog {
	position: absolute;
	top: 20%;
	padding: 0;
	background: var(--SECONDARY-300);
	border: 1px solid var(--primaryColor);
	border-radius: 0;
	z-index: 10;
	box-shadow: 0px 2px 4px var(--SECONDARY-700);
}

.shadow {
	box-shadow: 0px 2px 4px var(--SECONDARY-700);
}

.dialog_width {
	width: calc(100% - 20px);
}

.dialogTitle {
	height: 24px;
	vertical-align: middle;
	background: var(--primaryColor);
	color: var(--primaryTextColor);
	fill: var(--primaryTextColor);
}

.dialogTitle span {
	font-size: 16px;
	line-height: 22px;
	margin-left: 4px;
}

.dialogTitle a {
	height: inherit;
}

.dialogTitle a:hover {
	background: var(--primaryDarkColor);
}

.dialog table th {
	z-index: 20;
}