@import "./colors.css";
* {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	background-color: var(--secondaryColor);
	color: var(--secondaryTextColor)
}

.bg {
	background: url(../images/background.jpg) no-repeat top left;
}

.titleBar {
	width: 100%;
	background: var(--primaryDarkColor);
	margin: 0px;
	padding: 2px 2px 2px 4px;
	white-space: nowrap;
	overflow-x: hidden;
}

.move {
	cursor: move !important;
}

header {
	background: var(--primaryColor);
	color: var(--primaryTextColor);
	padding: 0px;
	margin: 0px;
}

header a {
	background: var(--toolbar-text);
	color: var(--toolbar-background);
	fill: var(--toolbar-background);
	text-decoration: none;
	margin-top: 20px;
	padding-right: 5px;
}

header a:hover {
	text-decoration: underline;
	color: var(--toolbar-background);
	fill: var(--toolbar-background);
	background: var(--toolbar-text) !important;
}

footer {
	padding-top: 2px;
	vertical-align: bottom;
	text-align: center;
	background: var(--primaryColor);
	color: var(--primaryTextColor);
	font-size: 0.8em;
}

footer a {
	color: var(--primaryTextColor);
	text-decoration: none;
}

footer a:hover {
	background: var(--primaryColor);
	text-decoration: underline;
}

.status {
	position: absolute;
	top: 200px;
	left: calc(40% - 100px);
	width: 200px;
	margin: auto;
	background-color: var(--primaryColor);
	color: var(--primaryTextColor);
	padding: 20px;
	border: 1px solid var(--primaryTextColor);
}

table {
	width: 100%;
	border-collapse: collapse;
}

a {
	color: var(--primaryColor);
	text-decoration: none;
	cursor: pointer;
}

thead {
	background: var(--primaryColor);
	color: var(--primaryTextColor);
}

tbody {
	overflow-y: scroll;
	overflow-x: scroll;
}

td {
	padding: 4px;
	vertical-align: top;
	font-size: medium;
}

td.fixed {
	text-align: center;
	vertical-align: middle;
	background: var(--lighter-background);
	color: var(--secondaryTextColor);
	cursor: default !important;
}

th {
	position: sticky;
	top: 0;
	z-index: 5;
	font-weight: normal;
	background: var(--primaryDarkColor);
	color: var(--primaryTextColor);
	white-space: nowrap;
	padding: 4px 0px;
}

.fixed {
	width: 1px;
	text-align: center;
}

.right {
	float: right;
}

.hidden {
	display: none;
}

.center {
	text-align: center;
}

input[type=number] {
	height: 1.2rem;
	font-size: 1rem;
	margin: 4px;
	background: var(--secondaryColor);
	color: var(--secondaryTextColor);
	border: 1px solid var(--primaryColor);
	border-radius: 2px;
}

input[type=checkbox] {
	margin-top: 0.5em;
	background-color: var(--input-background);
	border: 1px solid var(--primaryColor);
}

button {
	color: var(--primaryTextColor);
	fill: var(--primaryTextColor);
	background: var(--primaryColor);
	border: 1px solid var(--primaryColor);
	border-radius: 2px;
	font-size: 1em;
	text-align: center;
	margin: 4px;
	padding: 4px 8px;
	white-space: nowrap;
}

button:focus {
	background: var(--primaryDarkColor);
	outline: none !important;
}

button:hover {
	background: var(--primaryDarkColor);
	border-color: (--primaryDarkColor);
}

a.secondary {
	color: var(--primaryColor);
	background: var(--SECONDARY-50);
	margin: 4px;
	padding: 4px 8px;
	white-space: nowrap;
	cursor: pointer;
}

a.secondary:hover {
	color: var(--primaryDarkColor);
	background: var(--SECONDARY-400);
	border-radius: 2px;
}

.row {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 4px;
	padding-bottom: 0px;
}

select:required:invalid {
	font-weight: lighter;
	color: var(--SECONDARY-600) !important;
}

.placeholder {
	font-weight: lighter;
	color: var(--SECONDARY-600) !important;
}

option[value=""][disabled] {
	display: none;
}

.selectBox {
	margin-left: 8px;
	padding: 4px;
	width: calc(100% - 16px);
	font-size: 1em;
	background: var(--secondaryColor);
	color: var(--secondaryTextColor);
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid var(--SECONDARY-600);
	border-radius: 2px;
	transition: border .2s ease-in;
}

.selectBox:focus {
	outline: none !important;
	border-bottom: 1px solid var(--PRIMARY-600);
}

option {
	font-size: 1em;
	background: var(--secondaryColor) !important;
	color: var(--secondaryTextColor);
}

label {
	padding-left: 4px;
	padding-right: 4px;
	white-space: nowrap;
}

.column {
	display: flex;
	flex-direction: column;
}

.fullWidth {
	width: 100%;
}

.fullHeight {
	height: 100%;
}

.middle {
	vertical-align: middle;
}

.noWrap {
	white-space: nowrap;
}

.paddedArea {
	padding: 4px;
	margin: 4px;
}

.optionBox {
	border: 1px solid grey;
	border-radius: 4px;
}

.buttonArea {
	display: flex;
	flex-direction: row;
	padding: 8px;
	padding-left: 16px;
	padding-right: 16px;
	justify-content: flex-end;
}

.separator {
	width: 1px;
	margin-left: 1em;
	margin-right: 1em;
	border-left: 1px solid var(--toolbar-text);
}

.tabHolder {
	display: flex;
	flex-flow: row;
	color: var(--secondaryTextColor);
	background: var(--lighter-background);
	padding: 0px 0px 0px 8px;
}

.tab {
	overflow: hidden;
	color: var(--primaryColor);
	background: var(--primaryTextColor);
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 2px;
	border-bottom: 2px solid var(--primaryTextColor);
	vertical-align: middle;
}

.selectedTab {
	border-bottom: 2px solid var(--primaryColor);
}

.tab:hover {
	border-bottom: 2px solid var(--primaryDarkColor);
}

.selectedTab:hover {
	background: var(--normal-background);
	color: var(--primaryDarkColor);
}

.tab a {
	color: var(--primaryColor);
	text-decoration: none;
	cursor: pointer;
}

.tab a:hover {
	background: var(--normal-background);
	color: var(--primaryDarkColor);
}

.tabContent {
	display: block;
}

.hiddenTab {
	display: none;
}

.panel {
	z-index: 5;
	display: block;
	overflow-y: scroll;
}

.panelcontent {
	z-index: -20;
	display: block;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.panelcontent table {
	z-index: -30;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	background-color: var(--primaryDarkColor);
	border-color: var(--secondaryColor);
	color: var(--primaryTextColor);
	visibility: hidden;
	padding: 4px;
	border-radius: 2px;
	white-space: nowrap;
	/* Position the tooltip */
	position: absolute;
	z-index: 100;
}

.topTooltip {
	bottom: 120%;
	left: 20px;
}

.bottomTooltip {
	top: 120%;
	left: 20px;
}

.bottomRightTooltip {
	top: 120%;
	right: 20px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.highlight {
	color: var(--highlight-color);
}

.active {
	background: var(--highlight-color);
}

.dialog {
	position: absolute;
	padding: 0;
	background: var(--SECONDARY-50);
	border: 1px solid var(--primaryColor);
	border-radius: 0;
	box-shadow: 0px 2px 4px var(--SECONDARY-700);
	transition: left 0.6s;
	transition-timing-function: ease;
}

.shadow {
	box-shadow: 0px 2px 4px var(--SECONDARY-700);
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	background-color: #eeeeee04;
}

.dialog_width {
	width: calc(100% - 20px);
}

.dialogTitle {
	height: 24px;
	vertical-align: middle;
	background: var(--primaryColor);
	color: var(--primaryTextColor);
	fill: var(--primaryTextColor);
}

.dialogTitle span {
	font-size: 16px;
	line-height: 22px;
	margin-left: 4px;
}

.dialogTitle a {
	height: inherit;
}

.dialogTitle a:hover {
	background: var(--primaryDarkColor);
}

.dialog table th {
	z-index: 20;
}

.larger {
	font-size: 1.4em;
	font-weight: lighter;
}

.topbar {
	background: var(--primaryColor);
	color: var(--primaryTextColor);
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0px;
	vertical-align: middle;
}

.topbar span {
	margin-top: 4px;
	margin-left: 16px;
	height: 100%;
}

.topbar a {
	color: var(--primaryTextColor);
	fill: var(--primaryTextColor);
	padding: 8px 16px;
	white-space: nowrap;
}

.topbar a:hover {
	background: var(--primaryDarkColor);
	cursor: pointer;
}

.topbar a svg {
	fill: inherit;
}

.toolbar {
	background: var(--SECONDARY-300);
	color: var(--primaryColor);
	fill: var(--primaryColor);
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0px;
	vertical-align: middle;
}

.toolbar a {
	padding: 8px 16px;
	white-space: nowrap;
	line-height: 24px;
}

.toolbar a:hover {
	background: var(--SECONDARY-500);
	color: var(--primaryDarkColor);
	fill: var(--primaryDarkColor);
	cursor: pointer;
}

.toolbar a svg {
	vertical-align: middle;
}

.flex {
	display: flex !important;
}

hr {
	background: var(--PRIMARY-600);
	border: none;
	height: 1px;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.dropdown {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	background: inherit;
	color: inherit;
}

.dropdownOptions {
	display: flex;
	flex-direction: column;
	position: fixed;
	z-index: 30;
}

.dropdownOptions a {
	background: var(--SECONDARY-200);
	color: var(--primaryColor);
	padding: 8px 16px;
	white-space: nowrap;
	z-index: 4;
}

.dropdownOptions a:hover {
	background: var(--SECONDARY-400);
	color: var(--primaryDarkColor);
}

.inputContainer {
	margin: 8px 4px;
	width: calc(100% - 8px);
	display: flex;
	flex-direction: column;
}

.inputLabel {
	color: var(--primaryColor);
	font-size: 0.8em;
	margin-left: 8px;
	margin-bottom: 2px;
	transition: color .2s ease-in;
}

.hiddenLabel {
	color: var(--SECONDARY-50) !important;
}

.inputBox {
	margin-left: 8px;
	padding: 4px;
	width: calc(100% - 24px);
	font-size: 1em;
	background: var(--secondaryColor);
	color: var(--secondaryTextColor);
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid var(--SECONDARY-600);
	border-radius: 2px;
	transition: border .2s ease-in;
}

.inputBox::placeholder {
	color: var(--SECONDARY-600);
	font-weight: lighter;
}

.inputBox:focus {
	outline: none !important;
	border-bottom: 1px solid var(--PRIMARY-600);
}

.inputBox svg {
	margin-top: 8px;
}

.checkBox {
	display: flex;
	flex-direction: row;
	-ms-flex-align: center;
	width: calc(100% - 24px);
	padding: 8px;
	margin-left: 4px;
}

.checkBox span {
	margin-top: 4px;
	margin-left: 4px;
	color: var(--secondaryTextColor);
	width: calc(100% - 8px);
}

.checkBox svg {
	fill: var(--primaryColor);
}

.unchecked {
	color: var(--SECONDARY-600) !important;
}

.message {
	position: fixed;
	top: 5%;
	right: calc(50% - 150px);
	width: 300px;
	border-radius: 2px;
	background: var(--PRIMARY-900);
	color: var(--primaryTextColor);
	box-shadow: 0px 2px 4px var(--SECONDARY-700);
	transition: all .2s ease-in;
	padding: 16px;
	text-align: center;
	z-index: 100;
}

.selected {
	background-color: var(--PRIMARY-100) !important;
}