@import "./neutral.css";
@import "./theme.css";
:root {
	--focus-border: #f57c00;
	--error-color: #960303;
}

* {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	background: var(--gray10);
	color: var(--black);
}

.bg {
	background: url(../images/background.jpg) no-repeat top left;
}

.titleBar {
	width: 100%;
	background: var(--themeDark);
	margin: 0px;
	padding: 2px 2px 2px 4px;
	white-space: nowrap;
	overflow-x: hidden;
}

footer {
	padding-top: 2px;
	vertical-align: bottom;
	text-align: center;
	background: var(--themeDark);
	color: var(--white);
	font-size: 0.8em;
}

footer a {
	color: var(--white);
	text-decoration: none;
}

footer a:hover {
	background: var(--themeDark);
	text-decoration: underline;
}

.status {
	position: absolute;
	top: 200px;
	left: calc(40% - 100px);
	width: 200px;
	margin: auto;
	background-color: var(--themePrimary);
	color: var(--white);
	padding: 20px;
	border: 1px solid var(--white);
	border-radius: 4px;
	z-index: 200;
}

table {
	width: 100%;
	border-collapse: collapse;
}

a {
	color: var(--themePrimary);
	text-decoration: none;
	cursor: pointer;
}

thead {
	height: 24px;
	background: var(--white);
	color: var(--themeDark);
	border-top: 1px solid var(--themeDark);
	border-bottom: 1px solid var(--themeDark);
}

thead tr {
	background: inherit !important;
	color: inherit !important;
}

tr {
	border-bottom: 1px solid var(--gray40);
}

tr.selected {
	background-color: var(--gray30) !important;
}

.discover tr:hover {
	background-color: var(--themeLight) !important;
}

tbody {
	overflow-y: scroll;
	overflow-x: scroll;
}

td {
	padding: 8px 4px;
	vertical-align: top;
	font-size: medium;
}

th {
	position: sticky;
	padding: 8px 4px;
	top: 0;
	z-index: 5;
	font-weight: 300;
	background: var(--white);
	color: var(--themePrimary);
}

.right {
	float: right;
}

.hidden {
	display: none;
}

.center {
	text-align: center;
}

input[type=number] {
	height: 1.2rem;
	font-size: 1rem;
	margin: 4px;
	background: var(--gray10);
	color: var(--black);
	border: 1px solid var(--themePrimary);
	border-radius: 2px;
}

input[type=checkbox] {
	margin-top: 0.5em;
	background-color: var(--input-background);
	border: 1px solid var(--themePrimary);
}

button {
	color: var(--white);
	background: var(--themePrimary);
	border: 1px solid var(--themePrimary);
	border-radius: 2px;
	font-size: 1em;
	text-align: center;
	margin: 4px;
	padding: 4px 8px;
	white-space: nowrap;
}

button:focus {
	outline: none !important;
}

button:hover {
	background: var(--themeDarkAlt);
	border: 1px solid var(--themeDarkAlt);
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.14, 0.71, 0.38, 1);
	transition-delay: 0s;
}

a.secondary {
	color: var(--themePrimary);
	background: var(--gray10);
	border-radius: 2px;
	font-size: 1em;
	text-align: center;
	margin: 4px;
	padding: 4px 8px;
	white-space: nowrap;
	cursor: pointer;
}

a.secondary:hover {
	color: var(--themeDark);
	background: var(--gray30);
}

.row {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 4px;
	padding-bottom: 0px;
}

select:required:invalid {
	font-weight: lighter;
	color: var(--gray110) !important;
}

.placeholder {
	font-weight: lighter;
	color: var(--gray110) !important;
}

option[value=""][disabled] {
	display: none;
}

.selectBox {
	margin-left: 8px;
	padding: 4px;
	width: calc(100% - 16px);
	font-size: 1em;
	background: var(--gray10);
	color: var(--black);
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid var(--gray110);
	border-radius: 2px;
	transition: border .2s ease-in;
}

.selectBox:focus {
	outline: none !important;
	border-bottom: 1px solid var(--themePrimary);
}

option {
	font-size: 1em;
	background: var(--white) !important;
	color: var(--black);
}

label {
	padding-left: 4px;
	padding-right: 4px;
	white-space: nowrap;
}

.column {
	display: flex;
	flex-direction: column;
}

.fullWidth {
	width: 100%;
}

.fullHeight {
	height: 100%;
}

.middle {
	vertical-align: middle;
}

.noWrap {
	white-space: nowrap;
}

.paddedArea {
	padding: 4px;
	margin: 4px;
}

.optionBox {
	border: 1px solid grey;
	border-radius: 4px;
}

.buttonArea {
	display: flex;
	flex-direction: row;
	padding: 8px;
	padding-left: 16px;
	padding-right: 16px;
	justify-content: flex-end;
}

.separator {
	width: 1px;
	margin-left: 1em;
	margin-right: 1em;
	border-left: 1px solid var(--toolbar-text);
}

.tabHolder {
	display: flex;
	flex-flow: row;
	color: var(--black);
	background: var(--lighter-background);
	padding: 0px 0px 0px 8px;
}

.tab {
	overflow: hidden;
	color: var(--themePrimary);
	background: var(--white);
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 2px;
	border-bottom: 2px solid var(--white);
	vertical-align: middle;
}

.selectedTab {
	border-bottom: 2px solid var(--themePrimary);
}

.tab:hover {
	border-bottom: 2px solid var(--themeDark);
}

.selectedTab:hover {
	background: var(--normal-background);
	color: var(--themeDark);
}

.tab a {
	color: var(--themePrimary);
	text-decoration: none;
	cursor: pointer;
}

.tab a:hover {
	background: var(--normal-background);
	color: var(--themeDark);
}

.tabContent {
	display: block;
}

.hiddenTab {
	display: none;
}

.panel {
	z-index: 5;
	display: block;
	overflow-y: scroll;
}

.panelcontent {
	z-index: -20;
	display: block;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.panelcontent table {
	z-index: -30;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	background-color: var(--themeDark);
	border-color: var(--white);
	color: var(--white);
	visibility: hidden;
	padding: 4px;
	border-radius: 2px;
	white-space: nowrap;
	/* Position the tooltip */
	position: absolute;
	z-index: 100;
}

.topTooltip {
	bottom: 120%;
	left: 20px;
}

.bottomTooltip {
	top: 120%;
	left: 20px;
}

.bottomRightTooltip {
	top: 120%;
	right: 20px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.highlight {
	color: var(--highlight-color);
}

.active {
	background: var(--highlight-color);
}

.dialog {
	position: absolute;
	padding: 0;
	background: var(--gray10);
	border-radius: 4px;
	box-shadow: 0px 2px 4px var(--gray130);
}

.shadow {
	box-shadow: 0px 4px 8px var(--gray130);
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	background-color: #eeeeee04;
}

.dialog_width {
	width: calc(100% - 20px);
}

.dialogTitle {
	height: 24px;
	vertical-align: middle;
	background: var(--themeDark);
	border: 1px solid var(--themeDark);
	border-radius: 4px 4px 0 0;
	color: var(--white);
	fill: var(--white);
}

.dialogTitle span {
	font-size: 16px;
	line-height: 22px;
	margin-left: 4px;
}

.dialogTitle a {
	height: inherit;
}

.dialogTitle a:hover {
	background: var(--themeDark);
}

.dialog table th {
	z-index: 20;
}

.larger {
	font-size: 1.4em;
	font-weight: 200;
}

.topbar {
	background: var(--themeDark);
	color: var(--white);
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0px;
	vertical-align: middle;
}

.topbar span {
	margin-top: 4px;
	margin-left: 16px;
	height: 100%;
}

.topbar a {
	color: var(--white);
	fill: var(--white);
	padding: 8px 16px;
	white-space: nowrap;
}

.topbar a:hover {
	background: var(--themeDark);
	cursor: pointer;
}

.topbar a svg {
	fill: inherit;
}

.toolbar {
	background: var(--white);
	color: var(--themePrimary);
	fill: var(--themePrimary);
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0px;
	padding: 4px;
	width: calc(100% - 8px);
	vertical-align: middle;
}

.flex {
	display: flex !important;
}

hr {
	background: var(--themePrimary);
	border: none;
	height: 1px;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.dropdown {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	background: inherit;
	color: inherit;
}

.dropdownOptions {
	display: flex;
	flex-direction: column;
	position: fixed;
	z-index: 30;
}

.dropdownOptions a {
	background: var(--white);
	color: var(--gray160);
	padding: 8px 16px;
	white-space: nowrap;
	z-index: 4;
}

.dropdownOptions a:hover {
	background: var(--gray20);
	color: var(--themePrimary);
}

.inputContainer {
	margin: 8px 4px;
	width: calc(100% - 8px);
	display: flex;
	flex-direction: column;
}

.inputLabel {
	color: var(--themePrimary);
	font-size: 0.8em;
	margin-left: 8px;
	margin-bottom: 2px;
	transition: color .2s ease-in;
}

.hiddenLabel {
	color: var(--gray10) !important;
}

.inputBox {
	margin-left: 8px;
	padding: 4px;
	width: calc(100% - 24px);
	font-size: 1em;
	background: var(--gray10);
	color: var(--black);
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid var(--gray110);
	border-radius: 2px;
	transition: border .2s ease-in;
}

.inputBox::placeholder {
	color: var(--gray110);
	font-weight: lighter;
}

.inputBox:focus {
	outline: none !important;
	border-bottom: 1px solid var(--themePrimary);
}

.inputBox svg {
	margin-top: 8px;
}

.checkBox {
	display: flex;
	flex-direction: row;
	-ms-flex-align: center;
	width: calc(100% - 24px);
	padding: 0px 8px;
	margin-left: 4px;
}

.checkBox span {
	margin-top: 4px;
	margin-left: 4px;
	color: var(--black);
	width: calc(100% - 8px);
}

.checkBox svg {
	fill: var(--themePrimary);
}

.unchecked {
	color: var(--gray110) !important;
}

.message {
	position: fixed;
	top: 40px;
	right: 30px;
	width: 300px;
	border: none;
	border-radius: 4px;
	background: var(--themeDark);
	color: var(--white);
	transition: all .2s ease-in;
	padding: 16px;
	text-align: center;
	z-index: 100;
}

.selected {
	background-color: var(--themeLight) !important;
}

.dropZone {
	padding: 8px;
	width: calc(100% - 16px);
	height: 96px;
	text-align: center;
	font-size: 1.2em;
	border-bottom: 1px solid var(--gray110);
}

.dropZone label {
	color: var(--themePrimary);
}

.dropZone label:hover {
	text-decoration: underline;
}

.dropZone p {
	text-align: center;
}

.dragOver {
	background-color: var(--themeLight);
	border-bottom: 1px solid var(--themePrimary);
}