body {
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

header {
	position: absolute;
	top: 0px;
	height: 57px;
	left: 0px;
	right: 0px;
}

.mainContent { /* Main application window ony */
	position: absolute;
	top: 57px;
	bottom: 19px;
	left: 0px;
    right: 0px;
    overflow: hidden;
}

footer {
	position: absolute;
	height: 18px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

.divContainer {  /* Any container that needs to scroll content */
    width: 100vw;
    height: 100%;
    overflow: auto;
}
